/*
Colors:

Light Green:#7ed56f
Medium Green:#55c57a
Dark Green:#28b485

*/

*{
    margin: -3px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
    line-height: 1.7;
    padding: 25px;
    height: 100px;
}

.excel{
    top:0px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: black;
    animation-name: moveInRight;
    animation-duration: 4s;
    font-weight: 500;
}

.header{
    /*background-image : url(formbg.jpg);*/
    background-size: cover;
    background-position: top;
    
}

.text-box{

    margin-top: 50px;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

.text-box2{
    
    margin-top:70px;
    left: 50%;
    text-align: center;
}