<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='nav_style.css') }}">
		
		{% if title %}
			<title>{{ title }} page</title>
		{% else %}
			<title> Your Page </title>
		{% endif %}
	
	</head>
	<body>
		<nav>
			<a href="insert_service">MRC</a>
			<a href="#">Call Log</a>
			<a href="#">SRC</a>
			<a href="#">SCN</a>
		</nav>
		{% block content %}
		{% endblock content %}
	</body>
</html>