{% extends "base.html" %}
{% block content %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					{{ msg }}
				{% endfor %}
			{% endif %}
		{% endwith %}
        <form method = "POST" action = "#">
			{{ form.hidden_tag() }}
            <br>
            <br>
            {{ form.call_id.label }}
            <br>
            <br>
            {{ form.call_id }}
            <br>
            <br>
            {{ form.present_mtr_rdg.label }}
            <br>
            <br>
            {{ form.present_mtr_rdg }}
            <br>
            <br>
            {{ form.engineer_name.label }}
            <br>
            <br>
            {{ form.engineer_name }}
            <br>
            <br>
            {{ form.submit(formnovalidate = "formnovalidate") }}
            <br>
            <br>
            <h2>Select the engineer: </h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Engineer</th>
                    <th>Select</th>
                </tr>
                {% for row in eng_records %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td><input type = "radio" name = "engineers" value = {{row[0]}}></td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            {{ form.call_time.label }}
            {{ form.call_time }}
            <br>
            <br>
            {{ form.call_reason.label }}
            {{ form.call_reason }}
            <br>
            <br>
            {{ form.region.label }}
            {{ form.region }}
            <br>
            <br>
            {{ form.broken_call_date.label }}

            {{ form.broken_call_date }}
            <br>
            <br>
            {{ form.broken_call_code.label }}
            {{ form.broken_call_code }}
            <br>
            <br>
            {{ form.cmrs.label }}
            {{ form.cmrs }}
            <br>
            <br>
            {{ form.remarks.label }}
            {{ form.remarks }}
            <br>
            <br>
            <input type = "submit" name = "submit" value = "submit">
		</form>

		<table>
                <tr>
                    <th>ID</th>
                    <th>Present meter reading</th>
                    <th>Engineer allocated</th>
                    <th>Call time</th>
                    <th>Call date</th>
                    <th>Call reason</th>
                    <th>Region</th>
                    <th>Broken call date</th>
                    <th>Broken call code</th>
                    <th>Cmrs</th>
                    <th>Remarks</th>
                    <th>SCN status</th>
                </tr>
                {% for row in call_records %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>{{row[8]}}</td>
                        <td>{{row[9]}}</td>
                        <td>{{row[10]}}</td>
                        <td>{{row[11]}}</td>
                        <td>{{row[12]}}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock content %}