<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Excel Technologies</title>
    </head>

    <body>

        <form method = "POST" action = "#" id = "form1">
            {{ form1.hidden_tag() }}
            {{ form1.machine_id.label }}
            {{ form1.machine_id }}
            {{ form1.login_by_mi }}
            {{ form1.submit }}
        </form>

		<form method = "POST" action = "/get_mi_by_ci" id = "form2">
			{{ form2.hidden_tag() }}
            {{ form2.options }}
            {{ form2.search_by_field }}
            {{ form2.submit(formaction = "#") }}
            <h2>Select the customer: </h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Customer1</th>
                    <th>Customer2</th>
                    <th>Company1</th>
                    <th>Company2</th>
                    <th>Phone no</th>
                    <th>Landline</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
                {% for row in display %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td><input type = "radio" name = "customers" value = {{row[0]}}></td>
                    </tr>
                {% endfor %}
            </table>
            <input type = "submit" name = "submit" value = "submit">
		</form>
    </body>

</html>
