<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
        <title>Excel Technologies</title>
    </head>
    <body>
        <header class="header">
            <h1 class="excel">Excel Technologies</h1>
            <!--<div class="logo-box">
                <img src="logo.png" alt="Logo" class="logo">
            </div>-->
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">Call Service</span>
                    <span class="heading-primary-sub">Experience The Best</span>
                </h1>
                <!--<button onclick="window.location.href = 'http://127.0.0.1:5000/profile';" class="btn btn-white btn-animated">Record</button>-->
		<form method = "POST", action = "/">
			{{ form.hidden_tag() }}
			{{ form.machine_serial_number.label }}
			{{ form.machine_serial_number }}
            <br>
			{{ form.submit }}
		</form>
            </div>
            <!--<div>
                <img src="menu.png" alt="menu" class="menu">
            </div>-->
        </header>
    </body>
</html>
