{% extends "base.html" %}
{% block content %}

	<form method = "POST" style= 'float: left; background:url("{{ url_for("static",filename="formbg.jpg") }}"); padding: 20 20 20 20;margin: 20 20 20 20; border: 20 20 20 20'>
		<legend style="font-size: 30px; font-weight: bold">Add Service</legend>
		{{ form.hidden_tag() }}
		<br>
		{{ form.challan.label }}
		<br>
		{{ form.challan }}
		<div style="clear:both;">&nbsp;</div>
		<div style="float:left; padding-right: 20px">
			{{ form.prev_mtr_rdng.label }}
			<br>
			{{ form.prev_mtr_rdng }}
		</div>
		<div style = "float: left">
			{{ form.present_mtr_rdng.label }}
			<br>
			{{ form.present_mtr_rdng }}
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div style= "float:left; padding-right: 20px">
			{{ form.qty.label }}
			<br>
			{{ form.qty }}
		</div>
		<div style= "float: left">
			{{ form.yeild.label }}
			<br>
			{{ form.yeild }}
		</div>
		<div style="clear:both;">&nbsp;</div>
		{{ form.exec_name.label }}
		<br>
		{{ form.exec_name }}
		<div style="clear:both;">&nbsp;</div>
		{{ form.remarks.label }}
		<br>
		{{ form.remarks(cols='35', rows= '8') }}
		<div style="clear:both;">&nbsp;</div>
		{{ form.submit }}
	</form>

	<table class = "blueTable", style= 'float: left; padding: 20 20 20 20;margin: 20 20 20 20; border: 20 20 20 20'>
		<caption style= 'background:url("{{ url_for("static",filename="formbg.jpg") }}");'>MRC Card</caption>
		<thead>
			<tr>
				<th>Challan</th>
				<th>Previous meter reading</th>
				<th>Present meter reading</th>
				<th>Quantity</th>
				<th>Yield</th>
				<th>Engineer name</th>
				<th>Remarks</th>
			</tr>
		</thead>
		<tbody>
			{% for doc in services %}
			<tr class = "{{ loop.cycle('odd', 'even') }}">
				
				<td>
					{% if doc['challan'] %}
					{{ doc['challan'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['prev_mtr_rdng'] %}
					{{ doc['prev_mtr_rdng'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['present_mtr_rdng'] %}
					{{ doc['present_mtr_rdng'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['qty'] %}
					{{ doc['qty'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['yield'] %}
					{{ doc['yield'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['exec_name'] %}
					{{ doc['exec_name'] }}
					{%  endif %}
				</td>

				<td>
					{% if doc['remarks'] %}
					{{ doc['remarks'] }}
					{%  endif %}
				</td>
		
			</tr>
			{% endfor %}
		</tbody>
	</table>

	

{% endblock content %}