{% extends "base.html" %}
{% block content %}

	<table>
		{% for doc in mrc %}
		<tr>
			
			<td>
				{% if doc['model'] %}
				{{ doc['model'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['engineer_name'] %}
				{{ doc['engineer_name'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['prev_mtr_rdng'] %}
				{{ doc['prev_mtr_rdng'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['present_mtr_rdng'] %}
				{{ doc['present_mtr_rdng'] }}
				{%  endif %}
			</td>
	
		</tr>
		{% endfor %}
	</table>

	<form method = "POST">
		{{ form.hidden_tag() }}
		<br>
		{{ form.model.label }}
		{{ form.model }}
		<br>
		{{ form.engineer_name.label }}
		{{ form.engineer_name }}
		<br>
		{{ form.prev_mtr_rdng.label }}
		{{ form.prev_mtr_rdng }}
		<br>
		{{ form.present_mtr_rdng.label }}
		{{ form.present_mtr_rdng }}
		<br>
		{{ form.submit }}
	</form>

{% endblock content %}