{% extends "base.html" %}
{% block content %}
	<br>
	<table>

		<tr>
			<th>Challan</th>
			<th>Previous meter reading</th>
			<th>Present meter reading</th>
			<th>Quantity</th>
			<th>Yield</th>
			<th>Engineer name</th>
			<th>Remarks</th>
		</tr>

		{% for doc in services %}
		<tr>
			
			<td>
				{% if doc['challan'] %}
				{{ doc['challan'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['prev_mtr_rdng'] %}
				{{ doc['prev_mtr_rdng'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['present_mtr_rdng'] %}
				{{ doc['present_mtr_rdng'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['qty'] %}
				{{ doc['qty'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['yield'] %}
				{{ doc['yield'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['exec_name'] %}
				{{ doc['exec_name'] }}
				{%  endif %}
			</td>

			<td>
				{% if doc['remarks'] %}
				{{ doc['remarks'] }}
				{%  endif %}
			</td>
	
		</tr>
		{% endfor %}
	</table>

	<form method = "POST">
		{{ form.hidden_tag() }}
		<br>
		{{ form.challan.label }}
		{{ form.challan }}
		<br>
		{{ form.prev_mtr_rdng.label }}
		{{ form.prev_mtr_rdng }}
		<br>
		{{ form.present_mtr_rdng.label }}
		{{ form.present_mtr_rdng }}
		<br>
		{{ form.qty.label }}
		{{ form.qty }}
		<br>
		{{ form.yeild.label }}
		{{ form.yeild }}
		<br>
		{{ form.exec_name.label }}
		{{ form.exec_name }}
		<br>
		{{ form.submit }}
	</form>

{% endblock content %}