{% extends "base.html" %}
{% block content %}
	<form method="POST" style= 'float: left; background:url("{{ url_for("static",filename="formbg.jpg") }}"); padding: 20 20 20 20;margin: 20 20 20 20; border: 20 20 20 20'>
		<legend style="font-size: 30px; font-weight: bold">Register</legend>
		{{ form.hidden_tag() }}
		<br>
		{{ form.msn.label }}
		{{ form.msn }}
		<div style="clear:both;">&nbsp;</div>
		<div style="float:left; padding-right: 20px">
		<br>
		{{ form.customer.label }}
		{{ form.customer }}
		<br>
		</div>
		<div style = "float: left">
		{{ form.address.label }}
		{{ form.address }}
		<br>
		</div>
		<div style = "float: left">
		{{ form.phn.label }}
		{{ form.phn }}
		<br>
		</div>
		<div style="clear:both;">&nbsp;</div>
		<div style= "float:left; padding-right: 20px">
		{{ form.make_model.label }}
		{{ form.make_model }}
		<br>
		</div>
		<div style= "float: left">
		{{ form.install_date.label }}
		{{ form.install_date }}
		<br>
		</div>
		<div style="clear:both;">&nbsp;</div>
		{{ form.per_copy_charges.label }}
		{{ form.per_copy_charges }}
		<br>
		<div style="clear:both;">&nbsp;</div>
		{{ form.submit }}
	</form>
{% endblock content %}
		